.git
.pytest_cache
__pycache__
*.pyc

backend/venv
python_worker/venv
frontend/node_modules
frontend/dist

service_logs
snapshots
supershop_db.sqlite

.venv
venv
node_modules
dist
build

mediamtx_bin
*.log
